*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,body{
  width: 100%;
  height: 100%;
}
#main{
  width: 100%;
  min-height: 100vh;
}
#hero-page{
  width: 100%;
  height: 100vh;
  /* background-color: #111; */
  position: relative;
}

  /* Navigation Styleing  */
nav{
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5vh 10vw;
  /* background-color: antiquewhite; */
  border-bottom: 1px solid #5a5a5a;
}
#nav-logo a{
  text-decoration: none;
}
#nav-logo h1{
    font-size: 2vw;
    color: black;
}
#nav-search-bar{
  width: 50%;
}
#nav-search-bar input{
  width: 100%;
  padding: 2vh 1vw;
  outline: none;
  border: none;
  font-size: 1vw;
  font-weight: 200;
  border: 1px solid rgb(87, 87, 87);
  border-radius: 40px;
}
#nav-links{
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: blueviolet; */
}
#nav-links a{
  text-decoration: none;
}
.nav-link-logo{
  font-size: 1.4vw;
  color: black;
}
.menu{
  display: none;
}

@media only screen and (max-width: 999px) {
  .nav-link-logo{
    font-size: 2.5vw;
  }
  #nav-logo h1{
    font-size: 3vw;
   }
}

@media only screen and (max-width: 768px) {
  nav{
    padding: 5vh 5vw;
  }
  #nav-logo h1{
    font-size: 3.5vw;
  }
  .nav-link-logo{
    font-size: 2.3vw;
  }
  #nav-search-bar input{
    font-size: 2vw;
  }
}

@media only screen and (max-width: 414px) {
   #nav-logo h1{
    font-size: 4vw;
   }
   #nav-search-bar{
    width: 70%;
   }
   #nav-search-bar input{
    font-size: 3vw;
   }
   #nav-links{
    display: none;
   }
   .menu{
    display: block;
   }
}


/* Hero Section Styling  */
#hero-section{
  width: 100%;
  height: 60vh;
  background-color: #5a5a5a;
  position: relative;
  display: flex;
}
.slider{
  width: 100%;
  height: 100%;
}
.silde{
  width: 100%;
  height: 100%;
}
#hero-section img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}
.arrow{
  font-size: 4vw;
  color: white;
  position: absolute;
  top: 35%;
  padding: 0 2vw;
  z-index: 9999;
  cursor: pointer;
  border-radius: 50%;
}
.next{
  right: 0%;
}

@media only screen and (max-width: 999px) {
    .arrow{
      font-size: 7vw;
      top: 40%;
    }
}

@media only screen and (max-width: 768px) {
    .arrow{
      font-size: 8vw;
      top: 40%;
    }
}

@media only screen and (max-width: 414px) {
    .arrow{
      font-size: 9vw;
    }
}

#hero-catogories{
  width: 100%;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
}
.boxs{
  width: 8%;
  height: 15vh;
  border-radius: 30px;
  overflow: hidden;
} 
.boxs img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#page-2{
  width: 100%;
  min-height: 100vh;
  position: relative;
}
#page2-top{
  width: 100%;
  height: 35vh;
  padding: 0 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page2-top-boxs{
  width: 48%;
  height: 20vh;
  background-color: rgba(113, 150, 174, 0.504);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid rgb(97, 97, 97);
  border-radius: 10px;
}
.page2-top-boxs-left{
   width: 30%;
   height: 100%;
   padding: 2vh 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
}
.page2-top-boxs-right{
  width: 40%;
  height: 100%;
}
.page2-top-boxs-right img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.page2-btn{
  padding: 1vh 2vh;
  outline: none;
  border: none;
  font-size: 0.8vw;
  font-weight: 600;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
}
.page2-btn:hover{
  background-color: rgb(37,104,197);
  color: white;
}
#page2-bottom{
   width: 100%;
}
#page2-bottom-heading{
  width: 70%;
  padding: 2vh 5vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#page2-bottom-carts{
  width: 100%;
  /* height: 56vh; */
  padding: 3vh 6vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.product-cart{
  width: 20%;
  height: 50vh;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}
.tages{
  width: 100%;
  margin-top: 2vh;
  display: flex;
  padding: 0 1vw;
  justify-content: space-between;
}
.product-tag{
  font-size: 0.9vw;
  font-weight: 600;
  padding: 0.5vh 1vw;
  border: 1px solid rgb(92, 92, 92);
  border-radius: 30px;
}
.heart{
  font-size: 1.5vw;
}
.product-image{
  width: 80%;
  height: 50%;
}
.product-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.product-image img:hover{
   scale: 1;
}
.product-title{
  width: 100%;
  padding-left: 2vw;
  margin-bottom: 2vh;
}
@media only screen and (max-width: 768px) {
  #page2-top {
    width: 100%;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
  .page2-top-boxs {
     width: 90%;
}
.product-cart {
  width: 45%;
  margin-bottom: 2vh;
}
.page2-btn {
  font-size: 1.4vw;
  padding: 1vh 2vh;
}
.product-tag {
  font-size: 1.7vw;
}
#page2-bottom-heading {
  width: 100%;
}
}
@media only screen and (max-width: 414px) {
  .product-cart {
    width: 60%;
    margin-bottom: 2vh;
  }
  #page2-bottom-carts{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 1024px) {
   .product-cart{
    width: 70%;
    margin-bottom: 2vh;
   }
   #page2-bottom-carts{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
#page3{
  width: 100%;
  min-height: 100vh;
  position: relative;
}
#page3-bottom-heading{
  width: 70%;
  margin-top: 3vh;
  padding: 2vh 4vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#page3-cards{
  width: 100%;
  padding: 3vh 6vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
#page3-offer-div{
  width: 100%;
  height: 20vh;
  margin-top: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: lightblue; */
  position: relative;
}
#page3-offer-img-div{
  width: 88%;
  height: 15vh;
  border-radius: 20px;
  overflow: hidden;
  /* background-color: lightcoral; */
}
#page3-offer-img-div img{
  width: 100%;
  height: 100%;
  opacity: .8;
  object-fit: cover;
  object-position: center;
}
#page3-offer-div h1{
  font-size: 2vw;
  position: absolute;
}
@media only screen and (max-width: 1024px){
  #page3-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #page3-bottom-heading {
    width: 100%;
     display: flex;
     gap: 3vh;
}
#page3-offer-div h1 {
  font-size: 3vw;
}
#page3-offer-div{
  margin-top: 0vh;
}
}
@media only screen and (max-width: 414px){
  #page3-bottom-heading {
    width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 3vh;
}
#page3-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#page3-offer-div h1 {
  font-size: 4vw;
}
}
